/*

# Allow standard github files
!.gitignore
!README.md

# Allow directories without their children
!.config/
.config/*
!.local/
.local/*
!.share/
.share/*

# Allow specific directories
!.config/waybar
!.config/hypr
!.config/alacritty
!.config/cava
!.config/mpv
!.config/nvim
!.config/wleave
!.config/yazi
!.config/matugen
# Allow specific files
!.config/chromium-flags.conf
!.config/electron-flags.conf
!.config/edge-flags.conf
!.config/mimeapps.list
!.config/youtube-music-flags.conf
**/*[Cc]ache*

# Specifically pear-desktop files
!.config/YouTube\ Music/
.config/YouTube\ Music/*
!.config/YouTube\ Music/Preferences
!.config/YouTube\ Music/config.json
!.config/YouTube\ Music/themes

# Specifically zen files
!.zen/
.zen/*
!.zen/fii5rp1a.Default\ \(release\)/
.zen/fii5rp1a.Default\ \(release\)/*
!.zen/fii5rp1a.Default\ \(release\)/prefs.js
!.zen/fii5rp1a.Default\ \(release\)/zen-keyboard-shortcuts.json

# Remove matugen generated colors from repository
.config/hypr/colors.conf
.config/waybar/themes/colors.css
.config/wleave/colors.css
.config/alacritty/colors.toml
.config/yazi/theme.toml
.mozilla/firefox/1w8d6mnz.default-release/prefs.js
.config/waybar/themes/extra-colors.css
