[submodule ".config/mpv/scripts/celebi"]
	path = .config/mpv/scripts/celebi
	url = git@github.com:po5/celebi.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:Thiago-Morais/kickstart.nvim.git
[submodule ".config/matugen/matugen-themes"]
	path = .config/matugen/matugen-themes
	url = git@github.com:InioX/matugen-themes.git
[submodule ".config/YouTube Music"]
	path = .config/YouTube Music
	url = https://github.com/Thiago-Morais/dotfiles-pear-desktop
[submodule ".zen/fii5rp1a.Default (release)"]
	path = .zen/fii5rp1a.Default (release)
	url = https://github.com/Thiago-Morais/dotfiles-zen-browser
[submodule ".config/mpv"]
	path = .config/mpv
	url = git@github.com:Thiago-Morais/mpv-settings.git
