@import "themes/colors.css";

@define-color bg-color @secondary_container5;
@define-color text-color @on_secondary_container;
@define-color good-color #26a65b;
@define-color selected-color @tertiary5;
@define-color on-selected-color @on_tertiary_container;
@define-color hover-color @surface;
@define-color on-hover-color @on_surface;
@define-color firefox-color #FE7C3A;
@define-color code-color @green;
@define-color obsidian-color #a88bfa;
@define-color whatsapp-color #2CD46B;
@define-color non-empty-color #80B0FF;

/* Reset all styles */
* {
  border: none;
  min-height: 0;
  margin: 0;
  font-family: "JetBrainsMonoNL NFP";
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0;
}

/* The whole bar */
#waybar {
  background-color: transparent;
  background-color: @blur_background;
  color: @primary;
  transition-property: background-color;
  transition-duration: 0.5s;
  margin: 0;
}

window#waybar.hidden {
  opacity: 0.2;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#mode,
#idle_inhibitor,
#mpd,
#cava,
#custom-cava,
#bluetooth,
#workspaces button,
#custom-hyprPicker,
#custom-power-menu,
#custom-spotify,
#custom-storage-home,
#custom-storage-root,
#custom-weather,
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.default {
  background-color: @bg-color;
  color: @text-color;
  padding: 0 0.4rem;
  /* Adjusted padding */
  border: solid;
  border-width: 0 0 0.2rem 0;
  border-width: 0 0.05rem 0.2rem 0.05rem;
  border-width: 0 0.05rem 0.1rem 0.01rem;
  border-radius: 0.3em;
}

/* Workspaces */

#workspaces {
  background: transparent;
}

#workspaces label {
  /* We reduce the height of the label so that we can increase the font size wihtout increasing the whole bar height */
  font-size: 1.3em;
  margin: -1rem 0;
}

#workspaces button {
  background-color: @bg-color;
  color: @text-color;
  transition: all 0.3s ease-in-out;
  padding: 0 0.3rem;
  /* border-width: 0.2em 0; */
}

#workspaces button:hover {
  background: @hover-color;
  color: @on-hover-color;
}

#workspaces button.active {
  background: @selected-color;
  color: @on-selected-color;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#workspaces button:nth-child(2),
#workspaces button:nth-child(2).active {
  color: @obsidian-color;
}

#workspaces button:nth-child(3),
#workspaces button:nth-child(3).active {
  color: @code-color;
}

#workspaces button:nth-child(4),
#workspaces button:nth-child(4).active {
  color: @firefox-color;
}

#workspaces button:nth-child(5),
#workspaces button:nth-child(5).active {
  color: @whatsapp-color;
}

/* Empty value must be the last so that it has priority and gets applied */
#workspaces button.empty {
  color: @foreground;
}

#window {
  background-color: @bg-color;
  color: @text-color;
  font-size: 15px;
  font-weight: 800;
  opacity: 1;
}

#custom-screenshot_t {
  background-color: @bg-color;
  color: @text-color;
}

#custom-spotify {
  background-color: @bg-color;
  color: @text-color;
}

#custom-cava {
  font-family: FantasqueSansM Nerd Font Mono;
  padding: 0;
}

#tray {
  background-color: @bg-color;
  color: @text-color;
}

#cpu {
  color: #fb958b;
  background-color: @bg-color;
  color: @text-color;
}

#memory {
  color: #ebcb8b;
  background-color: @bg-color;
  color: @text-color;
}

#custom-power {
  background-color: @bg-color;
  color: @text-color;
}

#custom-storage-home,
#custom-storage-root {
  background-color: @bg-color;
  color: @text-color;
}

#custom-launcher {
  background-color: #1b242b;
  color: #6a92d7;
  /* Adjusted padding */
}

#custom-weather.severe {
  color: #eb937d;
}

#custom-weather.sunnyDay {
  color: #c2ca76;
}

#custom-weather.clearNight {
  color: #cad3f5;
}

#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight {
  color: #c2ddda;
}

#custom-weather.rainyDay,
#custom-weather.rainyNight {
  color: #5aaca5;
}

#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight {
  color: #d6e7e5;
}

#custom-weather.default {
  color: #dbd9d8;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child {
  margin-right: 1em;
}

#pulseaudio {
  color: #7d9bba;
}

#backlight {
  color: #8fbcbb;
}

#clock {
  /* color: #c8d2e0; */
}

#battery {
  color: #c0caf5;
}

#battery.charging,
#battery.full,
#battery.plugged {
  color: @good-color;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label {
  font-family: inherit;
  font-stretch: inherit;
}
label:focus {
  background-color: #000000;
}

#disk {
  background-color: #964b00;
}

#bluetooth {
  color: #707d9d;
}

#bluetooth.disconnected {
  color: #f53c3c;
}

#network {
  color: #b48ead;
}

#network.disconnected {
  color: #f53c3c;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 0px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}
