@define-color good-color-bg {{ colors.springgreen_container.default.rgba | auto_lightness: -10.0  | set_alpha: 0.7 }};
@define-color good-color {{ colors.on_springgreen_container.default.hex | auto_lightness: 20.0 }};
@define-color bad-color {{ colors.red.default.hex }};
@define-color non-empty-color #80B0FF;

/* Workspaces */
@define-color firefox-color #FE7C3A;
@define-color code-color @green;
@define-color obsidian-color #a88bfa;
@define-color whatsapp-color #2CD46B;

/* Modules */
@define-color memory-color-bg {{ colors.yellow_container.default.rgba | auto_lightness: -05.0  | set_alpha: 0.5 }};
@define-color memory-color {{ colors.on_yellow_container.default.hex | auto_lightness: 00.0 }};
@define-color storage-color-bg {{ colors.orange_container.default.rgba | auto_lightness: -05.0  | set_alpha: 0.5 }};
@define-color storage-color {{ colors.on_orange_container.default.hex | auto_lightness: 00.0 }};
@define-color backlight-color-bg {{ colors.aqua_container.default.rgba | auto_lightness: -05.0  | set_alpha: 0.5 }};
@define-color backlight-color {{ colors.on_aqua_container.default.hex | auto_lightness: 00.0 }};
