/*$dark_shadow: #000;*/
/*$light_shadow: #fff;*/
/*$selected_borders_color: if($variant == 'light', darken($selected_bg_color, 30%), darken($selected_bg_color, 20%));*/
/*$borders_color: if($variant == 'light', shade($bg_color, .85), shade($bg_color, .88));*/
/*$button_border_strength: if(lightness($bg) > 50, 0, .1);*/
/*$button_shadow_strength: if(lightness($bg) > 50, 0, .1);*/
/*$dark_shadow: #000;*/
/*$light_shadow: #fff;*/
/*$selected_borders_color: if($variant == 'light', darken($selected_bg_color, 30%), darken($selected_bg_color, 20%));*/
/*$borders_color: if($variant == 'light', shade($bg_color, .85), shade($bg_color, .88));*/
/*$button_border_strength: if(lightness($bg) > 50, 0, .1);*/
/*$button_shadow_strength: if(lightness($bg) > 50, 0, .1);*/
/* dark color scheme */
@define-color dark_bg_color #181b28;
@define-color dark_fg_color #47add6;
/* colormap actually used by the theme, to be overridden in other css files */
@define-color theme_bg_color #0f121c;
@define-color theme_fg_color #47add6;
@define-color theme_base_color #131621;
@define-color theme_text_color #47add6;
@define-color theme_selected_bg_color #47add6;
@define-color theme_selected_fg_color #181b28;
@define-color theme_tooltip_bg_color #0f121c;
@define-color theme_tooltip_fg_color #47add6;
/* shadow effects */
@define-color light_shadow #10131d;
@define-color dark_shadow #0a242f;
/* misc colors used by gtk+ */
@define-color info_fg_color #131621;
@define-color info_bg_color #47add6;
@define-color warning_fg_color #131621;
@define-color warning_bg_color #adad70;
@define-color question_fg_color #131621;
@define-color question_bg_color #47add6;
@define-color error_fg_color #131621;
@define-color error_bg_color #ad7aa3;
@define-color link_color #147aa3;
@define-color success_color #7ae070;
@define-color warning_color #adad70;
@define-color error_color #ad7aa3;
/* widget colors */
@define-color titlebar_bg_focused @dark_bg_color;
@define-color titlebar_bg_unfocused @theme_bg_color;
@define-color titlebar_fg_focused @dark_fg_color;
@define-color titlebar_fg_unfocused mix(#47add6,#0f121c,0.4);
@define-color menubar_bg_color @dark_bg_color;
@define-color menubar_fg_color @dark_fg_color;
@define-color toolbar_bg_color @theme_bg_color;
@define-color toolbar_fg_color @theme_fg_color;
@define-color menu_bg_color @dark_bg_color;
@define-color menu_fg_color @dark_fg_color;
@define-color panel_bg_color @dark_bg_color;
@define-color panel_fg_color @dark_fg_color;
@define-color borders mix(#0f121c,#47add6,0.18);
@define-color unfocused_borders mix(#0f121c,mix(#0f121c,#47add6,0.18),0.9);
@define-color button_bg_color #181b28;
@define-color button_fg_color #47add6;
@define-color header_button_bg_color #181b28;
@define-color header_button_fg_color #47add6;
@define-color insensitive_bg_color mix(#0f121c,#131621,0.6);
@define-color insensitive_fg_color mix(#47add6,#0f121c,0.5);
/* osd */
@define-color osd_base #181b28;
@define-color osd_bg rgba(24, 27, 40, 0.8);
@define-color osd_fg #47add6;
@define-color osd_insensitive_bg_color mix(#47add6,rgba(24, 27, 40, 0.8),0.5);
@define-color osd_insensitive_fg_color mix(#47add6,#181b28,0.6);
@define-color osd_borders_color rgba(20, 23, 34, 0.8);
/* lightdm greeter colors */
@define-color lightdm_bg_color #181b28;
@define-color lightdm_fg_color #47add6;
/* widget text/foreground color on backdrop windows */
@define-color theme_unfocused_fg_color mix(#47add6,#0f121c,0.5);
/* text color for entries, views and content in general on backdrop windows */
@define-color theme_unfocused_text_color #47add6;
/* widget base background color on backdrop windows */
@define-color theme_unfocused_bg_color #0f121c;
/* text widgets and the like base background color on backdrop windows */
@define-color theme_unfocused_base_color #131621;
/* base background color of selections on backdrop windows */
@define-color theme_unfocused_selected_bg_color #47add6;
/* text/foreground color of selections on backdrop windows */
@define-color theme_unfocused_selected_fg_color #181b28;
/* insensitive color on backdrop windows*/
@define-color unfocused_insensitive_color black;
/* window manager colors */
@define-color wm_bg_focused #181b28;
@define-color wm_bg_unfocused #0f121c;
@define-color wm_border_focused #444444;
@define-color wm_border_unfocused #444444;
@define-color wm_title_focused #47add6;
@define-color wm_title_unfocused mix(#47add6,#0f121c,0.4);
@define-color wm_icons_focused #47add6;
@define-color wm_icons_focused_prelight #47add6;
@define-color wm_icons_focused_pressed #2a91ba;
@define-color wm_icons_unfocused mix(#47add6,#0f121c,0.4);
@define-color wm_icons_unfocused_prelight #47add6;
@define-color wm_icons_unfocused_pressed #2a91ba;
